fastapi
uvicorn[standard]
jinja2
requests

numpy
pandas
scipy

lxml
html5lib
beautifulsoup4

yfinance

riskfolio-lib
cvxpy
osqp
scs
ecos
xml.etree.ElementTree
scikit-learn
joblib
xgboost
tensorflow

matplotlib
plotly
